.AdminLogin {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.AdminBottom {
    width: 400px;
    padding: 5px;
    margin: auto 0;
    align-self: center;
    justify-content: center;
}

.LoginCard {
    padding: 20px;
    background: white;
    align-items: center;
    justify-self: center;
    width: 100%;
}

.mainHeading {
    font-size: 24px;
    color: #001f60;
}

.Mobile {
    padding-top: 13.5px;
}

.SignInFooter {
    color: #9f9f9f;
    font-size: 13px;
    font-weight: 400;
    padding: 0 6%;
    margin: 13px 0;
}

.SignInFooter>a {
    color: #3800ff;
}

.hidden {
    display: none;
}

@media screen and (max-width: 500px) {
    .AdminBottom {
        width: 100%;
        margin: auto;
        padding: 5%;
        display: flex;
    }
}